__pycache__/media_detector.cpython-311.pyc
__pycache__/settings_manager.cpython-311.pyc
__pycache__/ui_components.cpython-311.pyc
__pycache__/utils.cpython-311.pyc
settings.json
build/package/Analysis-00.toc
build/package/base_library.zip
build/package/EXE-00.toc
build/package/PKG-00.toc
build/package/PYZ-00.pyz
build/package/PYZ-00.toc
build/package/ScreenDimmer.pkg
build/package/warn-package.txt
build/package/xref-package.html
build/package/localpycs/pyimod01_archive.pyc
build/package/localpycs/pyimod02_importers.pyc
build/package/localpycs/pyimod03_ctypes.pyc
build/package/localpycs/pyimod04_pywin32.pyc
build/package/localpycs/struct.pyc
dist/ScreenDimmer.exe
dist/OLEDBlanker.exe
